body {
  font-family: "Poppins";
  max-width: 100vw;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block__menu {
  width: 150px;
  min-height: 100vh;
  background-color: #3A63DE;
}
.block__menu .a__logo {
  padding: 33px 52px;
  display: block;
}
.block__menu .img__logo {
  width: 46px;
  height: 46px;
}
.block__menu ul li a {
  width: 150px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: rgba(255, 255, 255, 0.8);
  position: relative;
}
.block__menu ul li a img {
  opacity: 0.8;
}
.block__menu ul li a > span {
  display: block;
  margin-top: 16px;
  font-size: 13px;
  line-height: 19px;
  font-weight: 400;
}
.block__menu ul li a .span__notification {
  width: 24px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  background-color: #FD726A;
  border: 3px solid #3A63DE;
  border-radius: 3px;
  position: absolute;
  right: 38px;
  top: 23px;
  font-weight: 500;
}
.block__menu .more {
  width: 150px;
  height: 106px;
  display: block;
  background-image: url(../img/menu_arrows.png);
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}
.block__menu .menu__active-element {
  background-color: #3154BD;
  color: white;
}
.block__menu .menu__active-element img {
  opacity: 1;
}

.block__dialogues {
  width: 380px;
  min-height: 100vh;
  border-right: 1px solid #E1E3E5;
}
.block__dialogues .block__dialogues-header input {
  padding: 30px 52px 30px 52px;
  background-image: url(../img/search.png);
  background-repeat: no-repeat;
  background-position: 25px 33px;
  font-size: 15px;
  line-height: 23px;
  border-bottom: 1px solid #E1E3E5;
  width: 100%;
}
.block__dialogues .block__dialogues-header input::-webkit-input-placeholder {
  font-size: 15px;
  line-height: 23px;
  color: #818386;
  font-weight: 400;
}
.block__dialogues .block__dialogues-header input::-moz-placeholder {
  font-size: 15px;
  line-height: 23px;
  color: #818386;
  font-weight: 400;
}
.block__dialogues .block__dialogues-header input:-ms-input-placeholder {
  font-size: 15px;
  line-height: 23px;
  color: #818386;
  font-weight: 400;
}
.block__dialogues .block__dialogues-header input::-ms-input-placeholder {
  font-size: 15px;
  line-height: 23px;
  color: #818386;
  font-weight: 400;
}
.block__dialogues .block__dialogues-header input::placeholder {
  font-size: 15px;
  line-height: 23px;
  color: #818386;
  font-weight: 400;
}
.block__dialogues .block__dialogues-main .block__dialogues-main-h {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 25px 0 25px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 15px;
  line-height: 23px;
  color: #818386;
}
.block__dialogues .block__dialogues-main .block__dialogues-main-h .span__plus {
  width: 23px;
  height: 23px;
  display: block;
  background-image: url(../img/icon_plus.png);
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}
.block__dialogues .block__dialogues-main .block__dialogues-main-dialogue {
  width: 100%;
  height: 100px;
  border-bottom: 1px solid #E1E3E5;
  padding: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  position: relative;
}
.block__dialogues .block__dialogues-main .block__dialogues-main-dialogue img {
  width: 52px;
  height: 52px;
  margin-right: 16px;
}
.block__dialogues .block__dialogues-main .block__dialogues-main-dialogue .block__dialogues-main-dialogue-text {
  width: 208px;
  margin-right: 35px;
}
.block__dialogues .block__dialogues-main .block__dialogues-main-dialogue .span__dialogue-h {
  color: #333;
  font-weight: 400;
  font-size: 15px;
  line-height: 23px;
}
.block__dialogues .block__dialogues-main .block__dialogues-main-dialogue .p__dialogue-message {
  font-size: 14px;
  line-height: 21px;
  color: #818386;
}
.block__dialogues .block__dialogues-main .block__dialogues-main-dialogue .span__dialogue-circle {
  display: block;
  width: 14px;
  height: 14px;
  background-color: #44CB7F;
  border: 3px solid white;
  border-radius: 50%;
  position: absolute;
  bottom: 20px;
  left: 65px;
}
.block__dialogues .block__dialogues-main .block__dialogues-main-dialogue .span__mdialogue-notification {
  width: 21px;
  height: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  background-color: #FD726A;
  font-weight: 500;
  color: white;
}

.block__chat {
  width: 100vw;
}
.block__chat .block__chat-top {
  padding: 15px 30px 16px 30px;
  border-bottom: 1px solid #E1E3E5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.block__chat .block__chat-top .block__chat-top-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.block__chat .block__chat-top .block__chat-top-left img {
  width: 52px;
  height: 52px;
  margin-right: 16px;
}
.block__chat .block__chat-top .block__chat-top-left .span__chat-name {
  font-weight: 400;
  font-size: 15px;
  line-height: 23px;
}
.block__chat .block__chat-top .block__chat-top-left .span__dialogue-circle {
  display: block;
  width: 14px;
  height: 14px;
  background-color: #44CB7F;
  border: 3px solid white;
  border-radius: 50%;
  position: absolute;
  bottom: -3px;
  left: 40px;
}
.block__chat .block__chat-top .block__chat-top-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.block__chat .block__chat-top .block__chat-top-right .span__chat-plus, .block__chat .block__chat-top .block__chat-top-right .span__chat-dots {
  display: block;
  width: 17px;
  height: 17px;
  background-image: url(../img/icon_plus.png);
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}
.block__chat .block__chat-top .block__chat-top-right .span__chat-dots {
  background-image: url(../img/icon_dots.png);
  margin-left: 35px;
}
.block__chat .block__chat-main {
  padding: 30px;
}
.block__chat .block__chat-main .block__left-message {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.block__chat .block__chat-main .block__left-message > img {
  width: 52px;
  height: 52px;
  margin-right: 8px;
  position: absolute;
  bottom: 0;
}
.block__chat .block__chat-main .block__left-message .span__message {
  display: inline-block;
  background-color: #3A63DE;
  color: white;
  font-size: 15px;
  line-height: 23px;
  padding: 18px 20px;
  border-radius: 8px 8px 8px 1px;
  margin-left: 60px;
  position: relative;
}
.block__chat .block__chat-main .block__left-message .span__message .span__message-date {
  font-size: 13px;
  font-weight: 400;
  color: #818386;
  display: block;
  position: absolute;
  right: 0;
  bottom: -22px;
}
.block__chat .block__chat-main .block__left-message .span__message img {
  width: 20px;
  height: 20px;
  margin-top: 2px;
}
.block__chat .block__chat-main .block__left-message .span__message-more {
  display: inline-block;
  cursor: pointer;
  width: 17px;
  height: 17px;
  background-image: url(../img/icon_dots.png);
  background-repeat: no-repeat;
  background-position: center center;
  margin-left: 17px;
}
.block__chat .block__chat-main .block__left-message .block__message-files {
  margin-left: 60px;
  display: inline-block;
  position: relative;
}
.block__chat .block__chat-main .block__left-message .block__message-files .span__message-date {
  font-size: 13px;
  font-weight: 400;
  color: #818386;
  display: block;
  position: absolute;
  right: 0;
  bottom: -22px;
}
.block__chat .block__chat-main .block__left-message .block__message-files .block__message-files-top {
  background-color: rgba(58, 99, 222, 0.08);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 18px 20px;
  border-radius: 8px 8px 0px 0px;
}
.block__chat .block__chat-main .block__left-message .block__message-files .block__message-files-top .span__file {
  font-size: 15px;
  line-height: 23px;
  color: #333;
  padding-right: 49px;
  font-weight: 400;
}
.block__chat .block__chat-main .block__left-message .block__message-files .block__message-files-top .span__file-size {
  font-size: 15px;
  line-height: 23px;
  color: #3A63DE;
  font-weight: 400;
  padding-top: 4px;
}
.block__chat .block__chat-main .block__left-message .block__message-files .block__message-files-bot {
  background-color: #3A63DE;
  padding: 18px 20px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 0px 0px 8px 1px;
}
.block__chat .block__chat-main .block__left-message .block__message-files .block__message-files-bot .span__files-text {
  font-size: 15px;
  font-weight: 400;
  line-height: 23px;
}
.block__chat .block__chat-main .block__left-message .block__message-files .block__message-files-bot .span__download {
  width: 20px;
  height: 20px;
  background-image: url(../img/icon_download.png);
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}
.block__chat .block__chat-main .wrapper-right {
  margin-top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.block__chat .block__chat-main .wrapper-right .block__right-message {
  margin-bottom: 22px;
}
.block__chat .block__chat-main .wrapper-right .block__right-message .block__right-message-wrapper {
  position: relative;
}
.block__chat .block__chat-main .wrapper-right .block__right-message .block__right-message-wrapper > img {
  width: 52px;
  height: 52px;
  margin-left: 8px;
  position: absolute;
  bottom: 0;
  right: 0;
}
.block__chat .block__chat-main .wrapper-right .block__right-message .block__right-message-wrapper .span__message {
  display: inline-block;
  background-color: #F2F5FA;
  color: #595F69;
  font-size: 15px;
  line-height: 23px;
  padding: 18px 20px;
  border-radius: 8px 8px 1px 8px;
  margin-right: 60px;
  position: relative;
}
.block__chat .block__chat-main .wrapper-right .block__right-message .block__right-message-wrapper .span__message .span__message-date {
  font-size: 13px;
  font-weight: 400;
  color: #818386;
  display: block;
  position: absolute;
  left: 0;
  bottom: -22px;
}
.block__chat .block__chat-main .wrapper-right .block__right-message .block__right-message-wrapper .span__message-more {
  display: inline-block;
  cursor: pointer;
  width: 17px;
  height: 17px;
  background-image: url(../img/icon_dots.png);
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 17px;
}
.block__chat .block__chat-main .wrapper-right .block__right-message .block__right-message-wrapper .message-edit {
  background-image: url(../img/icon_edit.png);
  width: 22px;
  height: 22px;
}
.block__chat .block__chat-main .wrapper-right .block__right-message .block__right-message-wrapper .message-delete {
  background-image: url(../img/icon_delete.png);
  width: 22px;
  height: 22px;
}
.block__chat .block__chat-main .wrapper-right .block__right-message .block__message-dopfiles {
  float: right;
  margin-right: 60px;
}
.block__chat .block__chat-main .wrapper-right .block__right-message .block__message-dopfiles img {
  width: 70px;
  height: 70px;
  margin-right: 15px;
  margin-top: 16px;
  cursor: pointer;
}
.block__chat .block__chat-main .wrapper-right .block__right-message .block__message-dopfiles span {
  cursor: pointer;
  width: 48px;
  height: 48px;
  display: inline-block;
  padding: 14px;
  margin-top: 27px;
  font-size: 15px;
  font-weight: 500;
  color: #3A63DE;
  background-color: rgba(58, 99, 222, 0.1);
}
.block__chat .block__chat-main .block__new-day {
  padding-top: 30px;
  padding-bottom: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.block__chat .block__chat-main .block__new-day hr {
  border: 1px solid #E1E3E5;
  height: 1px;
  width: 45%;
}
.block__chat .block__chat-main .block__new-day span {
  font-size: 14px;
  line-height: 21px;
  color: #818386;
  padding: 0 20px;
}
.block__chat .block__chat-type {
  position: fixed;
  bottom: 0;
  width: calc(100% - 380px - 150px);
}
.block__chat .block__chat-type .block__chat-type-wrapper {
  padding: 0px 30px;
  height: 76px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #E1E3E5;
  background-color: white;
  position: relative;
}
.block__chat .block__chat-type .input__type-message {
  margin-right: 15px;
  font-size: 15px;
  line-height: 23px;
}
.block__chat .block__chat-type .span__add, .block__chat .block__chat-type .span__smiles {
  display: block;
  width: 22px;
  height: 22px;
  background-image: url(../img/icon_attachment.png);
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}
.block__chat .block__chat-type .span__smiles {
  background-image: url(../img/icon_smile.png);
  margin-left: 19px;
  margin-right: 22px;
}
.block__chat .block__chat-type .button__send {
  width: 56px;
  height: 56px;
  background-color: #3A63DE;
  background-image: url(../img/icon_send.png);
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  right: 10px;
  bottom: 10px;
  position: absolute;
}

.last-message {
  margin-bottom: 80px;
}

@media (max-width: 1100px) {
  .block__dialogues {
    display: none;
  }

  .block__chat .block__chat-type {
    width: calc(100% - 150px);
  }
}
@media (max-width: 720px) {
  .block__menu {
    display: none;
  }

  .block__chat .block__chat-type {
    width: 100%;
  }
}